@import 'variables';

.time-picker-wrapper {
  display: block;

  width: 150px;

  z-index: 3;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 
    0 4px 5px 0 rgba(0,0,0,.14), 
    0 1px 10px 0 rgba(0,0,0,.12);
}

// Block containing both wheels
.time-picker-block {
  display: flex;
  position: relative;

  flex-shrink: 0;
  flex-flow: row nowrap;
}

// Colored digit picker bar
.time-picker-block:before {
  display: block;
  position: absolute;

  width: 100%;
  height: 40px;
  top: 50%;
  left: 0;
  z-index: 0;

  background-color: $primary-color;
  
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);

  pointer-events: none;
  content: "";
}

.border {
  width: 1px;
  background: $divider-color;
}
