// Theme variabels
$primary-color: rgba(208, 145, 45, 0.5);
$secondary-color: rgba(236, 207, 160, 0.5);

$text-color: rgba(0,0,0,.87);
$faded-text-color: rgba(0,0,0,.54);

$divider-color: rgba(0,0,0,.12);
$underline-color: rgba(0, 0, 0, 0.42);

// Animation variables
$transition-timing: cubic-bezier(0.34, 0.09, 0.08, 1);
