@import 'variables';

:host {
  display: block;
  flex: 1;

  &:focus {
    outline: none;
  }
}

ul {
  display: block;
  position: relative;
  height: 280px;
  flex: 1;
  text-align: center;

  margin: 0;
  padding: 0;
  z-index: 1;
  list-style: none inside;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  // Older browser support
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(40px);
}

ul:focus {
  outline-offset: -1px;
  outline-width: 1px;
  outline-style: solid;
  outline-color: $secondary-color;
}

// Remove scrollbar
ul::-webkit-scrollbar {
  width: 0 !important;  
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
